@keyframes moveInRightButtonReflexion {
  0% {
    transform: translateX(-7rem) rotate(20deg);
    opacity: 0;
  }
  40% {
    transform: translateX(4rem);
    opacity: 0.4;
  }
  100% {
    transform: translateX(6rem);
    opacity: 1;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Alkatra", "sans-serif", system-ui;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #736136;
  background-image: linear-gradient(to bottom right, #ffc1b2, #ffb666);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  max-width: 120rem;
  min-height: 120rem;
  margin: 4vw auto;
  border-radius: 2.5rem;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(115, 97, 54, 0.2);
  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-template-columns: 1fr 2fr;
}
@media only screen and (max-width: 78.15em) {
  .container {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
@media only screen and (max-width: 40.625em) {
  .container {
    grid-template-rows: 15rem 1fr;
  }
}
.container ::selection {
  background-color: #ffc1b2;
  color: #fff;
}

.btn {
  border: none;
  border-radius: 2rem;
  fill: #fff;
  color: #fff;
  background-image: linear-gradient(to bottom right, #ffc1b2, #ffb666);
  padding: 0.5rem 2rem;
  font-family: inherit;
  font-size: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.btn svg {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}
.btn--tiny {
  border: none;
  background: none;
  fill: #ffc1b2;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn--tiny:hover {
  transform: translateY(-1px) scale(1.1);
}
.btn--tiny svg {
  height: 2.2rem;
  width: 2.2rem;
}
.btn--round {
  border: none;
  background-image: linear-gradient(to bottom right, #ffc1b2, #ffb666);
  border-radius: 50%;
  fill: #fff;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.btn--round:hover {
  transform: scale(1.15);
}
.btn--round svg {
  height: 2.5rem;
  width: 2.5rem;
}
.btn__recipe, .btn__recipe:link, .btn__recipe:visited {
  background-image: linear-gradient(to bottom right, #ffc1b2, #ffb666);
  text-decoration: none;
  color: #fff;
  border-radius: 2.5rem;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}
.btn__recipe:hover {
  transform: scale(1.1);
}
.btn__recipe-icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
  margin-left: 1rem;
}

.title__main {
  align-self: center;
  transform: skewY(6deg);
  color: #fff;
  width: 80%;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
}
.title__main span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: linear-gradient(to bottom right, #ffc1b2, #ffb666);
  padding: 0 2rem;
}
.title--secondary {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}
.title--tetriary {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  width: fit-content;
}

.header {
  grid-row: 1/2;
  grid-column: 1/-1;
  background-color: #f8ebe7;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fff;
}
@media only screen and (max-width: 40.625em) {
  .header {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
.header__logo {
  height: clamp(5rem, 4.5vw, 6rem);
  margin-left: 4rem;
}
@media only screen and (max-width: 40.625em) {
  .header__logo {
    grid-row: 1/2;
    grid-column: 1/-1;
    margin-left: 2rem;
  }
}

.search {
  display: flex;
  background-color: #fff;
  width: fit-content;
  border-radius: 2rem;
  height: 4rem;
  box-shadow: 0 0.3rem 2rem rgba(115, 97, 54, 0.1);
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}
.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 1.7rem rgba(115, 97, 54, 0.1);
}
@media only screen and (max-width: 40.625em) {
  .search {
    grid-row: 2/-1;
    grid-column: 1/-1;
    justify-self: center;
    margin-bottom: 2rem;
  }
}
.search__field {
  background-color: #fff;
  border: none;
  border-radius: 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  padding: 0 2rem;
  width: clamp(15rem, 20vw, 30rem);
}
.search__field::placeholder {
  color: rgba(115, 97, 54, 0.4);
}
.search__field:focus {
  outline: none;
}
.search__btn::before {
  content: "";
  display: block;
  position: absolute;
  top: -1rem;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 2rem;
  height: 140%;
  opacity: 0;
}
.search__btn:hover::before {
  animation: moveInRightButtonReflexion 2s ease;
}

.nav {
  margin-right: 4rem;
  height: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 40.625em) {
  .nav {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: end;
    margin-right: 2rem;
  }
}
.nav__list {
  list-style: none;
  height: 100%;
}
.nav__item {
  position: relative;
  height: 100%;
}
.nav__item:hover .bookmarks {
  visibility: visible;
  opacity: 1;
}
.nav__btn {
  border: none;
  background: none;
  height: 100%;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
.nav__btn:hover {
  transform: translateY(-2px);
}
.nav__btn:active {
  transform: translateY(0);
}
.nav__btn svg {
  height: 2rem;
  width: 2rem;
  fill: #ffc1b2;
  margin-right: 0.5rem;
  margin-top: -2px;
}

.bookmarks {
  width: 37rem;
  position: absolute;
  right: 0;
  background-color: #f8ebe7;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0.7rem 0.7rem 3rem rgba(115, 97, 54, 0.2);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s 0.15s;
}
.bookmarks__list {
  list-style: none;
}

.message {
  padding: 1rem 0;
}

.preview__link:link, .preview__link:visited {
  text-decoration: none;
  color: #736136;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.preview__link:link:hover, .preview__link:visited:hover {
  transform: translateY(-2px);
}
.preview__link:link:active, .preview__link:visited:active {
  transform: translateY(0);
}
.preview__link--active {
  background-color: #fff;
}
.preview__fig {
  position: relative;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-left: 2rem;
  margin-right: 1rem;
}
.preview__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #ffc1b2, #ffb666);
  opacity: 0.3;
}
.preview__fig img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.preview__title {
  max-width: 25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.preview__publisher {
  max-width: 25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-results {
  grid-row: 2/-1;
  grid-column: 1/2;
  background-color: #f8ebe7;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.search-results__title {
  padding: 4rem 2rem;
}
.search-results__list {
  list-style: none;
}

.recipe {
  grid-row: 2/-1;
  grid-column: 2/-1;
}
.recipe__header {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 8rem 1fr 5rem;
  grid-template-columns: 1fr 3rem 2fr;
  padding: 4rem;
}
@media only screen and (max-width: 78.15em) {
  .recipe__header {
    grid-template-rows: 1fr 1fr;
  }
}
.recipe__calories {
  background-color: #f8ebe7;
  grid-row: 2/-1;
  grid-column: 1/3;
  padding: 2rem;
  margin-left: 2rem;
  border-radius: 2.5rem;
  outline: 1rem solid #ffc1b2;
  transform: skewY(6deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media only screen and (max-width: 78.15em) {
  .recipe__calories {
    grid-row: 3/-1;
    grid-column: 1/-1;
    transform: skewY(0);
    margin: 0 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 8rem;
  }
}
.recipe__fig {
  width: 100%;
  height: 35rem;
  grid-row: 1/3;
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.recipe__fig::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, #ffc1b2, #ffb666);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.5rem;
  opacity: 0.2;
}
@media only screen and (max-width: 78.15em) {
  .recipe__fig {
    height: 35rem;
    grid-row: 1/3;
    grid-column: 1/-1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.recipe__img {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2.5rem;
}
@media only screen and (max-width: 78.15em) {
  .recipe__img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.recipe__title {
  transform: translateY(-4rem) skewY(6deg);
  text-transform: uppercase;
  font-size: 3rem;
}
.recipe__details {
  padding: 5rem;
  display: flex;
}
.recipe__info {
  display: flex;
  align-items: center;
}
.recipe__info:not(:last-child) {
  margin-right: 4.5rem;
}
.recipe__info-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #ffc1b2;
  margin-right: 1rem;
}
.recipe__info-buttons {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.recipe__info-data {
  margin-right: 0.5rem;
}
.recipe__ingredients {
  background-color: rgba(248, 235, 231, 0.5019607843);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe__ingredients-list {
  list-style: none;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem 4rem;
}
.recipe__ingredients-item {
  display: flex;
}
.recipe__ingredients-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #ffc1b2;
  margin-right: 0.5rem;
  flex: 0 0 auto;
}
.recipe__ingredients-quantity {
  margin-right: 0.5rem;
}
.recipe__ingredients-description {
  text-align: justify;
  hyphens: auto;
}
.recipe__instructions {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe__instructions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe__instructions-container > :not(:last-child) {
  margin-bottom: 2rem;
}
.recipe__instructions-list {
  list-style: none;
}
.recipe__instructions-list > :not(:last-child) {
  margin-bottom: 2.5rem;
}
.recipe__instructions-item > :not(:last-child) {
  margin-bottom: 1rem;
}
.recipe__instructions-heading {
  display: flex;
  align-items: center;
}
.recipe__instructions-text {
  text-align: left;
  font-size: 1.4rem;
  margin-left: 5rem;
}
.recipe__instructions-text span {
  border: 1.5px solid #ffc1b2;
  border-radius: 50%;
  padding: 0 0.6rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.recipe__instructions-icon {
  width: 2.3rem;
  height: 2.3rem;
  fill: #ffc1b2;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
  flex: 0 0 auto;
}
.recipe__directions {
  background-color: rgba(248, 235, 231, 0.5019607843);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe__directions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe__directions-container > :not(:last-child) {
  margin-bottom: 2rem;
}
.recipe__directions-text {
  text-align: center;
  width: 70%;
}
.recipe__directions-text span {
  color: #ffc1b2;
}

.calories {
  transform: skewY(-6deg);
  line-height: 2.8rem;
}
@media only screen and (max-width: 78.15em) {
  .calories {
    transform: skewY(0);
    justify-self: start;
  }
}
.calories__title {
  font-size: 3rem;
}
.calories__value {
  font-size: 2rem;
}
@media only screen and (max-width: 78.15em) {
  .calories__value {
    text-align: center;
  }
}
.calories__macro {
  transform: skewY(-6deg);
  line-height: 2rem;
}
@media only screen and (max-width: 78.15em) {
  .calories__macro {
    transform: skewY(0);
    text-align: center;
  }
}
.calories__macro__value {
  font-size: 1.6rem;
}
@media only screen and (max-width: 78.15em) {
  .calories__container {
    padding: 2rem;
  }
}

.btn__servings--plus {
  margin-right: 0.7rem;
}
.btn__servings--plus svg {
  height: 2.5rem;
  width: 2.5rem;
}

/*# sourceMappingURL=style.css.map */
