@keyframes moveInRightButtonReflexion {
  0% {
    transform: translateX(-7rem) rotate(20deg);
    opacity: 0;
  }
  40% {
    transform: translateX(4rem);
    opacity: 0.4;
  }
  100% {
    transform: translateX(6rem);
    opacity: 1;
  }
}

@keyframes moveLeftAndRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}
