.btn {
  &,
  &:link,
  &:visited {
    border: none;
    border-radius: 2rem;
    fill: $color-white;
    color: $color-white;
    background-image: $gradient;
    padding: 0.5rem 2rem;
    font-family: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }

  &:focus,
  &:active {
    outline: none;
  }

  svg {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }

  &--tiny {
    border: none;
    background: none;
    fill: $color-primary;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-1px) scale(1.1);
    }

    svg {
      height: 2.2rem;
      width: 2.2rem;
    }
  }

  &--round {
    border: none;
    background-image: $gradient;
    border-radius: 50%;
    fill: $color-white;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.15);
    }

    svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &__recipe {
    &,
    &:link,
    &:visited {
      background-image: $gradient;
      text-decoration: none;
      color: $color-white;
      border-radius: 2.5rem;
      padding: 1rem 3rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      display: flex;
      align-items: center;
      transition: all 0.2s ease;
    }

    &:hover {
      transform: scale(1.1);
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      fill: $color-white;
      margin-left: 1rem;
    }
  }

  &-pagination__prev {
    svg {
      margin-left: 0.5rem;
    }
  }

  &-pagination__next {
    svg {
      margin-right: 0;
    }
  }

  &__bookmarks-more {
    color: transparent;
    background-clip: text;
    text-shadow: 7px 2px 25px rgba($color-text, 0.2);
    border-bottom: 2px solid $color-primary;
    padding: 0;
    border-radius: 0;
    margin: 0 auto;
    width: fit-content;

    svg {
      fill: $color-primary;
      margin-left: 0.5rem;
    }

    &:hover {
      animation-play-state: paused !important;
    }

    &-container {
      padding: 2rem;
      width: fit-content;
      transition: all 0.3s ease-out;
      transform: translateX(40%);

      &:hover {
        transform: translateX(40%) scale(1.1);
      }
    }
  }
}

.title {
  &__main {
    align-self: center;
    transform: skewY(6deg);
    color: $color-white;
    width: 80%;
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background-image: $gradient;
      padding: 0 2rem;

      @media only screen and (max-width: $bp-small--410) {
        padding: 0 1rem;
      }
    }
  }

  &--secondary {
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }

  &--tetriary {
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    width: fit-content;
  }
}

.message {
  // background-color: red;
  width: fit-content;
  display: flex;
  text-align: center;

  &__bookmarks {
    padding: 2rem 0;
    width: 100%;

    &--text {
      width: 100%;
      text-align: center;
    }
  }

  &__recipe {
    margin: 7rem auto;
    padding: 2rem 4rem;
    // background-color: red;
  }

  &__icon {
    width: 2.75rem;
    height: 2.75rem;
    fill: $color-primary;
    transform: translateY(0.75rem);
    margin-left: 0.75rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.6);
  backdrop-filter: blur(0.3rem);
  z-index: 9;
}

.hidden {
  display: none !important;
  visibility: hidden;
}
