.preview {
  transition: all 0.3s;
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-text;
      padding: 1.5rem 0;

      display: flex;
      align-items: center;
      transition: all 0.3s;

      &:hover:not(.preview__link--active) {
        transform: translateY(-2px);
        background-color: $color-secondary-light;
      }

      &:active {
        transform: translateY(0);
      }
    }

    &--active {
      background-color: $color-white;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  &__fig {
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-left: 2rem;
    margin-right: 1rem;
    transition: all 0.3s;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: $gradient;
      opacity: 0.3;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__title {
    max-width: 25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media only screen and (max-width: $bp-small--410) {
      max-width: 22rem;
    }
  }

  &__publisher {
    max-width: 25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
